
// ---------- Imports ----------
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

@import "variables";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


// ---------- Styles ----------
.accent {
  color: $accent !important;
}

.primary {
  color: $primary !important;
}

.btn {
  background-color: $accent;
  color: white;
  width: 100px;

  &:hover, &:active {
    color: lightgrey;
  }
}

.navbar {
  &.fade-in {
    background-color: $primary;
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
  }

  .logo {
    font-size: 20px;
    line-height: 50px;

    a {
      color: white;
    }
  }

  ul {
    float: right;

    li {
      a {
        text-align: center;
        color: white;
        height: 48px;

        &:hover, &:focus, &.active {
          height: 45px;
          background: none;
          border-bottom: 3px solid $accent;
        }
      }
    }
  }
}

footer {
  background-color: $primary;
  bottom: 0;
  height: 50px;

  p {
    color: white;
    text-align: center;
    line-height: 50px;
    margin: 0;
  }
}

.sub-header {
  border-bottom: 3px solid $accent;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;

  p {
    margin: 5px;
  }
}

// ---------- Index ----------
.content {
  padding-top: 70px;
}

.index {
  #header {
    background: $primary;
    height: 500px !important;

    .particles-js-canvas-el {
      height: 100% !important;
    }

    .header-text, .helper-text {
      color: white;
      text-align: center;
      margin-top: 160px;
      position: absolute;
      width: 100%;
    }

    .helper-text {
      color: lightgrey;
      font-size: 21px;
      margin-top: 210px;
    }
  }

  .block {
    background-color: $accent;
    height: 50px;
    
    .block-text {
      line-height: 50px;
      text-align: center;

      a {
        color: white;

        i {
          font-size: 35px;
          margin-right: 11px;
          vertical-align: middle;

          &.fa-linkedin, &.fa-facebook, &.fa-envelope-open {
            font-size: 32px;
          }
        }
      }
    }
  }

  .skills {
    .icon-holder {
      text-align: center;

      i {
        
      }
    }
  }
}

li {
  color: $accent;
  
  span {
    color: black;
  }
  
  a {
    color: $accent;
  }
}

.contact {
  form {
    input:focus, textarea:focus {
      outline: none !important;
      border: 1px solid $accent;
      box-shadow: 0 0 10px $accent;
    }

    textarea {
      resize: vertical;
    }

    button {
      float: right;
    }
  }

  .sidebar {
    background-color: $grey;
    border-radius: 5px;
    height: 488px;
    padding: 35px;

    p {
      font-size: 15px;
    }

    i {
      margin-right: 10px;
      font-size: 20px;
      vertical-align: middle;
    }
  }
}
